<header>
    
        Codeial
    
    <ul>
        <% if (locals.user){ %>
          <!-- if the user is signedin then we need to show the user name and the signedout link -->
          <li>
              <a href="/user/profile/<%= user.id %>">
            <%=user.name %>
            </a>
          </li>
          <li>
              <a href="/user/sign-out">Sign Out</a>
          </li>
          
        <%} else {%>

            <li>
                <a href="/user/sign-in">SignIn</a>
            </li>


            
            <li>
                <a href="/user/sign-up">SignUp</a>
            </li>

        <% } %>
    </ul>
</header>