
 <link rel="stylesheet" href="/css/user_profile.css">  
   

    <h1>Codeial/Profile Page </h1>

    <!--Make changes from user.name to profile_user.name(users_controller) -->
<p><%= profile_user.name %></p>
<p><%= profile_user.email %></p>